@import "../../variables";

.header {
    position: absolute;
    color: @lightpurple;
    font-size: 35px;
    left: 10px;
    top: 10px;
    background-image: url(img/mstile-144x144.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px 40px;
    padding-left: 45px;
}
