.allCardFacesLayout {
    overflow: scroll !important;
    padding: 70px 50px 50px 50px !important;
    > div.card{
        position: static !important;
        display: inline-block;
        width: 85px;
        height: 150px;
        margin-right: 10px;
        &.card-inverted{
            .card-front{
                > div{
                    transform: rotate(0deg) !important;
                }
            }
        }

    }
}
