@import "../../variables";

.testQuestion{
    width: 100%;
    max-width: 924px;
    min-width: 320px;
    margin: 0 auto;
    height: 100%;
    font-size: 13px;
    padding: 50px;
    box-sizing: border-box;
    > div{
        padding: 50px;
        background: @darkgray;
    }
    b{
        color: @lightpurple;
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
        > span{
            color: @gold;
        }
    }
}