@import "../../variables";

.celticCrossLayout {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    > div.col{
        position: relative;
        display: inline-block;
        height: 100%;
        width: 25%;
    }
    .card{
        right: 0;
        left: 0;
        margin: auto auto;
        &.center-vertical{
            top: 0;
            bottom: 0;
        }
    }
}
